.grid {    /*Very Important to make Images fit inside div */
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(6, auto);
 grid-gap: 5px;
 grid-auto-flow: dense;
 position: relative;
 margin-top: 50px;
 margin-bottom: 50px;
}

.grid > div > img {    /*Very Important to make Images fit inside div */
  width: 100%;
  height: 100%;
  object-fit: fill;  /*Pehle fit rkhe thhe toh DENSE property DIV mein */
  filter: brightness(60%);
  transition: 0.35s;
}

.horizontal{
 grid-column: span 2; 
}

/* MEDIA-QUERIES */

@media screen and (max-width: 2000px) {
 .grid{
 margin-left: 250px;
 margin-right: 250px;
 }
}

@media screen and (max-width: 1150px){
 .grid{
 margin-left: 80px;
 margin-right: 80px;
 grid-template: repeat(3, 1fr) / repeat(4, auto);
}

.head{
flex-shrink: 1;
}
}

@media screen and (max-width: 650px) {
 .grid{
 margin-left: 50px; 
 margin-right: 50px;
 grid-template: repeat(12, 1fr) / repeat(1, auto);
}

.head{
font-size: 20px;
}
}

/* Hover Effeccts */

.grid img:hover {
 filter: brightness(110%);
}

.grid > div {
 position: relative;
 text-align: center;
 color: white;
}

.head {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 40px;
 border: 5px solid white;
 padding: 10px;
 z-index: 1;
 cursor: pointer;
}